{{ ansible_managed | comment }}

global_defs {
  router_id {{ hostname }}
}

vrrp_instance KUBE_MASTER {
  state MASTER
  interface {{ ansible_default_ipv4.interface }}
  advert_int 1

  virtual_router_id 100
  priority {{ keepalived_priority }}

  unicast_peer {
    {{ groups.main | difference([inventory_hostname]) | join('\n') | indent(4) }}
  }

  authentication {
    auth_type PASS
    auth_pass {{ keepalived_password }}
  }

  virtual_ipaddress {
    192.168.1.100
  }
}
