{{ ansible_managed | comment('c') }}

# Every day
APT::Periodic::Unattended-Upgrade "1";
APT::Periodic::Update-Package-Lists "1";

# 7 days
APT::Periodic::AutocleanInterval "7";

# 4 hours
APT::Periodic::RandomSleep "14400";

APT::Periodic::Verbose "0";
