alertmanager:
  replicas: 1
  persistentVolume:
    enabled: false
  resources:
    limits:
      cpu: 1
      memory: 1Gi
    requests:
      cpu: 10m
      memory: 32Mi

compactor:
  replicas: 1
  persistentVolume:
    enabled: false
  resources:
    limits:
      cpu: 1
      memory: 1Gi
    requests:
      cpu: 100m
      memory: 512Mi

distributor:
  replicas: 1
  resources:
    limits:
      cpu: 1
      memory: 1Gi
    requests:
      cpu: 100m
      memory: 512Mi
  kedaAutoscaling:
    enabled: true
    preserveReplicas: false
    minReplicaCount: 1
    maxReplicaCount: 6
    targetCPUUtilizationPercentage: 80
    targetMemoryUtilizationPercentage: 100

gateway:
  enabledNonEnterprise: true
  replicas: 2
  resources:
    limits:
      cpu: 1
      memory: 1024Mi
    requests:
      cpu: 100m
      memory: 128Mi

global:
  extraEnv:
    - name: ALERTMANAGER_BUCKET_NAME
      valueFrom:
        configMapKeyRef:
          name: mimir-alertmanager
          key: BUCKET_NAME
    - name: ALERTMANAGER_AWS_ACCESS_KEY_ID
      valueFrom:
        secretKeyRef:
          name: mimir-alertmanager
          key: AWS_ACCESS_KEY_ID
    - name: ALERTMANAGER_AWS_SECRET_ACCESS_KEY
      valueFrom:
        secretKeyRef:
          name: mimir-alertmanager
          key: AWS_SECRET_ACCESS_KEY
    - name: BUCKET_HOST
      valueFrom:
        configMapKeyRef:
          name: mimir-alertmanager
          key: BUCKET_HOST
    - name: BUCKET_PORT
      valueFrom:
        configMapKeyRef:
          name: mimir-alertmanager
          key: BUCKET_PORT
    - name: BLOCKS_BUCKET_NAME
      valueFrom:
        configMapKeyRef:
          name: mimir-blocks
          key: BUCKET_NAME
    - name: BLOCKS_AWS_ACCESS_KEY_ID
      valueFrom:
        secretKeyRef:
          name: mimir-blocks
          key: AWS_ACCESS_KEY_ID
    - name: BLOCKS_AWS_SECRET_ACCESS_KEY
      valueFrom:
        secretKeyRef:
          name: mimir-blocks
          key: AWS_SECRET_ACCESS_KEY
    - name: RULER_BUCKET_NAME
      valueFrom:
        configMapKeyRef:
          name: mimir-ruler
          key: BUCKET_NAME
    - name: RULER_AWS_ACCESS_KEY_ID
      valueFrom:
        secretKeyRef:
          name: mimir-ruler
          key: AWS_ACCESS_KEY_ID
    - name: RULER_AWS_SECRET_ACCESS_KEY
      valueFrom:
        secretKeyRef:
          name: mimir-ruler
          key: AWS_SECRET_ACCESS_KEY

ingester:
  persistentVolume:
    enabled: false
  replicas: 2
  resources:
    limits:
      cpu: 1
      memory: 1Gi
    requests:
      cpu: 100m
      memory: 512Mi
  zoneAwareReplication:
    enabled: false

kafka:
  enabled: true
  resources:
    limits:
      cpu: 1
      memory: 1Gi
    requests:
      cpu: 256m
      memory: 512Mi
  persistence:
    enabled: false

metaMonitoring:
  dashboards:
    enabled: true
  serviceMonitor:
    enabled: true

mimir:
  structuredConfig:
    api:
      prometheus_http_prefix: "/"
    common:
      storage:
        backend: s3
        s3:
          endpoint: "${BUCKET_HOST}:${BUCKET_PORT}"
          insecure: true
    alertmanager_storage:
      s3:
        access_key_id: ${ALERTMANAGER_AWS_ACCESS_KEY_ID}
        bucket_name: "${ALERTMANAGER_BUCKET_NAME}"
        secret_access_key: "${ALERTMANAGER_AWS_SECRET_ACCESS_KEY}"
    blocks_storage:
      s3:
        access_key_id: ${BLOCKS_AWS_ACCESS_KEY_ID}
        bucket_name: "${BLOCKS_BUCKET_NAME}"
        secret_access_key: "${BLOCKS_AWS_SECRET_ACCESS_KEY}"
    multitenancy_enabled: false
    ruler_storage:
      s3:
        access_key_id: ${RULER_AWS_ACCESS_KEY_ID}
        bucket_name: "${RULER_BUCKET_NAME}"
        secret_access_key: "${RULER_AWS_SECRET_ACCESS_KEY}"

minio:
  enabled: false

nginx:
  enabled: false

overrides_exporter:
  enabled: false

querier:
  replicas: 1
  resources:
    limits:
      cpu: 2
      memory: 2Gi
    requests:
      cpu: 100m
      memory: 128Mi
  kedaAutoscaling:
    enabled: true
    preserveReplicas: false
    minReplicaCount: 1
    maxReplicaCount: 6
    targetCPUUtilizationPercentage: 80
    targetMemoryUtilizationPercentage: 100

query_frontend:
  replicas: 1
  resources:
    limits:
      cpu: 2
      memory: 2Gi
    requests:
      cpu: 100m
      memory: 128Mi
  kedaAutoscaling:
    enabled: true
    preserveReplicas: false
    minReplicaCount: 1
    maxReplicaCount: 6
    targetCPUUtilizationPercentage: 80
    targetMemoryUtilizationPercentage: 100

query_scheduler:
  replicas: 2
  resources:
    requests:
      cpu: 100m
      memory: 128Mi

ruler:
  replicas: 1
  resources:
    limits:
      cpu: 1
      memory: 2Gi
    requests:
      cpu: 100m
      memory: 128Mi
  kedaAutoscaling:
    enabled: true
    preserveReplicas: false
    minReplicaCount: 1
    maxReplicaCount: 6
    targetCPUUtilizationPercentage: 80
    targetMemoryUtilizationPercentage: 100

rollout_operator:
  enabled: false

store_gateway:
  persistentVolume:
    enabled: false
  replicas: 2
  resources:
    limits:
      cpu: 1
      memory: 2Gi
    requests:
      cpu: 100m
      memory: 512Mi
  service:
    labels:
      # Used to "fake" a prometheus server for Lens discovery
      app: prometheus
      component: service
      heritage: Helm
  zoneAwareReplication:
    enabled: false
