apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
metadata:
  name: velero

namespace: velero

helmCharts:
  - name: velero
    repo: https://vmware-tanzu.github.io/helm-charts
    releaseName: velero
    version: 7.1.0
    valuesFile: ./values.yaml

resources:
  - ./resources/namespace.yaml
  - ./resources/resource-policy.yaml
  - ./resources/secret-backblaze-credentials.yaml
