namespace:
  labels:
    - key: pod-security.kubernetes.io/enforce
      value: privileged
    - key: pod-security.kubernetes.io/audit
      value: privileged
    - key: pod-security.kubernetes.io/warn
      value: privileged
resources:
  requests:
    cpu: 500m
    memory: 128Mi
  limits:
    cpu: "2"
    memory: 2Gi
initContainers:
  - name: velero-plugin-for-aws
    image: velero/velero-plugin-for-aws:v1.13.1
    imagePullPolicy: IfNotPresent
    volumeMounts:
      - mountPath: /target
        name: plugins
terminationGracePeriodSeconds: 3600
metrics:
  enabled: true
  scrapeInterval: 30s
  scrapeTimeout: 10s
  serviceMonitor:
    autodetect: true
    enabled: false
  nodeAgentPodMonitor:
    autodetect: true
    enabled: false
  prometheusRule:
    autodetect: true
    enabled: false
upgradeCRDs: true
cleanUpCRDs: false
configuration:
  backupStorageLocation:
    - name: default
      provider: aws
      bucket: btkostner-cluster
      prefix: velero
      default: true
      accessMode: ReadWrite
      credential:
        name: backblaze-credentials
        key: cloud
      config:
        checksumAlgorithm: ""
        region: us-west-004
        s3ForcePathStyle: "true"
        s3Url: https://s3.us-west-004.backblazeb2.com
  volumeSnapshotLocation:
    - name: default
      provider: csi
  uploaderType: kopia
  features: EnableCSI
  defaultBackupStorageLocation: default
  defaultVolumeSnapshotLocations: csi:default
  logFormat: json
  defaultSnapshotMoveData: true
  defaultVolumesToFsBackup: true
  extraEnvVars:
    TZ: America/Phoenix
credentials:
  useSecret: true
  existingSecret: "backblaze-credentials"
backupsEnabled: true
snapshotsEnabled: true
deployNodeAgent: true
schedules:
  cluster-full-backup:
    disabled: false
    schedule: "24 7,13,22 * * *"
    useOwnerReferencesInBackup: false
    template:
      datamover: velero
      resourcePolicy:
        kind: configmap
        name: resource-policy
      snapshotMoveData: true
      snapshotVolumes: true
      ttl: "2160h0m0s"
      uploaderConfig:
        parallelFilesUpload: 10
