apiVersion: apps/v1
kind: Deployment
metadata:
  name: sonarr
  namespace: download
  labels:
    app: sonarr
spec:
  replicas: 1
  revisionHistoryLimit: 1
  strategy:
    type: Recreate
  selector:
    matchLabels:
      app: sonarr
  template:
    metadata:
      labels:
        app: sonarr
      annotations:
        backup.velero.io/backup-volumes-excludes: download,media
    spec:
      containers:
        - name: sonarr
          image: lscr.io/linuxserver/sonarr:latest
          imagePullPolicy: Always
          ports:
            - containerPort: 8989
              name: http
              protocol: TCP
          readinessProbe:
            httpGet:
              path: /ping
              port: 8989
          livenessProbe:
            httpGet:
              path: /ping
              port: 8989
          resources:
            requests:
              cpu: 100m
              memory: 128M
            limits:
              cpu: 4
              memory: 4Gi
          env:
            - name: PUID
              value: "1000"
            - name: PGID
              value: "1000"
            - name: TZ
              value: America/Los_Angeles
          volumeMounts:
            - name: config
              mountPath: /config
            - name: download
              mountPath: /download
            - name: media
              mountPath: /media
      volumes:
        - name: config
          persistentVolumeClaim:
            claimName: sonarr-config
        - name: download
          persistentVolumeClaim:
            claimName: sonarr-download
        - name: media
          persistentVolumeClaim:
            claimName: sonarr-media
