apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: sonarr-config
  namespace: download
spec:
  secretStoreRef:
    kind: ClusterSecretStore
    name: onepassword
  target:
    creationPolicy: Owner
    template:
      type: Opaque
      engineVersion: v2
      data:
        config.xml: |
          <Config>
            <BindAddress>*</BindAddress>
            <Port>8989</Port>
            <SslPort>9898</SslPort>
            <EnableSsl>False</EnableSsl>
            <LaunchBrowser>False</LaunchBrowser>
            <ApiKey>{{ .api_key }}</ApiKey>
            <AuthenticationMethod>External</AuthenticationMethod>
            <AuthenticationRequired>DisabledForLocalAddresses</AuthenticationRequired>
            <Branch>main</Branch>
            <LogLevel>info</LogLevel>
            <SslCertPath></SslCertPath>
            <SslCertPassword></SslCertPassword>
            <UrlBase></UrlBase>
            <InstanceName>Sonarr</InstanceName>
            <UpdateMechanism>Docker</UpdateMechanism>
          </Config>
  data:
    - secretKey: api_key
      remoteRef:
        conversionStrategy: Default
        decodingStrategy: None
        metadataPolicy: None
        key: sonarr
        property: api_key
