helm        3.20.2
kubeconform 0.7.0
kubectl     1.35.0
kustomize   5.8.0
mdbook      0.4.36
op          latest
prettier    3.6.2
shellcheck  0.11.0
talhelper   latest
talosctl    latest
yamllint    1.38.0
