apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
metadata:
  name: prometheus

namespace: monitoring

helmCharts:
  - includeCRDs: false
    name: prometheus
    namespace: monitoring
    releaseName: prometheus
    repo: https://prometheus-community.github.io/helm-charts
    valuesFile: ./values.yaml
    version: 27.46.0
