alertmanager:
  enabled: false
kube-state-metrics:
  enabled: false
prometheus-node-exporter:
  enabled: false
prometheus-pushgateway:
  enabled: false
server:
  ingress:
    enabled: false
  persistentVolume:
    enabled: false
  remoteRead:
    - filter_external_labels: false
      headers:
        X-Scope-OrgID: anonymous
      read_recent: true
      url: http://mimir-query-frontend:8080/prometheus/api/v1/read
serverFiles:
  prometheus.yml:
    rule_files: []
    scrape_configs: []
