apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  labels:
    app.kubernetes.io/managed-by: argocd
    app.kubernetes.io/name: crds
  name: crds
  namespace: argocd
spec:
  destination:
    server: https://kubernetes.default.svc
  project: default
  source:
    path: cluster/crds
    repoURL: https://github.com/btkostner/infrastructure.git
  syncPolicy:
    automated:
      allowEmpty: true
      prune: false
      selfHeal: true
    syncOptions:
      - CreateNamespace=true
      - FailOnSharedResource=true
