apiVersion: argoproj.io/v1alpha1
kind: ApplicationSet
metadata:
  annotations:
    argocd.argoproj.io/sync-wave: "2"
  labels:
    app.kubernetes.io/managed-by: argocd
    app.kubernetes.io/name: apps
  name: apps
  namespace: argocd
spec:
  generators:
    - git:
        files:
          - path: cluster/apps/*/*/kustomization.yaml
        repoURL: https://github.com/btkostner/infrastructure.git
        requeueAfterSeconds: 20
        revision: HEAD
  syncPolicy:
    preserveResourcesOnDeletion: true
  template:
    metadata:
      finalizers:
        - resources-finalizer.argocd.argoproj.io
      labels:
        app.kubernetes.io/managed-by: argocd
        app.kubernetes.io/name: "{{path.basenameNormalized}}"
      name: "{{path.basenameNormalized}}"
      namespace: "{{path[2]}}"
    spec:
      destination:
        server: https://kubernetes.default.svc
        namespace: "{{path[2]}}"
      project: default
      source:
        path: "{{path}}"
        repoURL: https://github.com/btkostner/infrastructure.git
      syncPolicy:
        automated:
          allowEmpty: true
          prune: true
          selfHeal: true
        syncOptions:
          - CreateNamespace=true
      ignoreDifferences:
        - group: ""
          kind: ConfigMap
          jsonPointers:
            - /data/ca.crt
            - /data/tls.crt
            - /data/tls.key
        - group: ""
          kind: Secret
          jsonPointers:
            - /data/ca.crt
            - /data/tls.crt
            - /data/tls.key
        - group: "certmanager.io"
          kind: Certificate
          jsonPointers:
            - /spec/duration
        - group: ""
          kind: PersistentVolumeClaim
          jsonPointers:
            - /spec/volumeName
