********************************************************************************
*   __                                                                         *
*  /  \        ______________________________________________________________  *
*  |  |       /                                                              \ *
*  @  @       | It looks like you are trying to access a private system.     | *
*  || ||      |                                                              | *
*  || ||   <--| Authorized users only. This system is monitored and audited. | *
*  |\_/|      |                                                              | *
*  \___/      \______________________________________________________________/ *
*                                                                              *
*               Mess with the best, die like the rest ~ Zero Cool              *
*                                                                              *
********************************************************************************
