apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
metadata:
  name: intel-device-plugins-operator

namespace: node-feature-discovery

helmCharts:
  - name: intel-device-plugins-operator
    repo: https://intel.github.io/helm-charts
    releaseName: intel-device-plugins-operator
    namespace: node-feature-discovery
    version: 0.32.0
