apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: prowlarr-config
  namespace: download
spec:
  volumeMode: Filesystem
  storageClassName: ceph-safe-block
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 5Gi
  volumeName: download-prowlarr-config
