apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
metadata:
  name: cert-manager

namespace: cert-manager

helmCharts:
  - name: cert-manager
    repo: https://charts.jetstack.io
    releaseName: cert-manager
    version: 1.13.3
    namespace: cert-manager
    valuesFile: ./values.yaml

resources:
  - ./resources/namespace.yaml
  - ./resources/secret-cloudflare-credentials.yaml
  - ./resources/cluster-issuer-production.yaml
  - ./resources/cluster-issuer-staging.yaml
