installCRDs: true
prometheus:
  enabled: true
  servicemonitor:
    enabled: true
leaderElection:
  namespace: cert-manager
clusterResourceNamespace: cert-manager
namespace: cert-manager
extraArgs:
  - --enable-gateway-api
rbac:
  create: true
cainjector:
  enabled: true

# wtf, this should not be how any of this works.
global:
  leaderElection:
    namespace: cert-manager
