apiVersion: v1
kind: Service
metadata:
  name: internal-gateway
  namespace: networking
  annotations:
    tailscale.com/expose: "true"
spec:
  ipFamilyPolicy: SingleStack
  ports:
    - name: gateway
      port: 443
      protocol: TCP
      targetPort: 443
  type: ClusterIP
