apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
metadata:
  name: alloy

namespace: monitoring

helmCharts:
  - includeCRDs: true
    name: alloy
    namespace: monitoring
    releaseName: alloy
    repo: https://grafana.github.io/helm-charts
    valuesFile: ./values.yaml
    version: 1.0.0

resources:
  - ./resources/config-map.yaml
  - ./resources/http-route.yaml
