apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
metadata:
  name: onepassword

namespace: external-secrets

helmCharts:
  - name: connect
    repo: https://1password.github.io/connect-helm-charts
    releaseName: onepassword-connect
    namespace: external-secrets
    version: 1.15.0
    valuesFile: values.yaml
