apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
metadata:
  name: argo-cd

namespace: argocd

resources:
  - ./resources/namespace.yaml
  - https://raw.githubusercontent.com/argoproj/argo-cd/v3.0.0/manifests/ha/install.yaml
  - ./resources/http-route.yaml
  - ./resources/secret-repository.yaml
  - ./resources/secret-repo-creds.yaml

configMapGenerator:
  - name: argocd-cm
    behavior: merge
    literals:
      - "kustomize.buildOptions=--enable-helm"
      - "server.insecure=true"
      - "timeout.reconciliation=15s"
      - |
        resource.customizations.ignoreResourceUpdates.all=
          jqPathExpressions:
            # Ignore the Velio related backup and restore labels
            - '.metadata.labels."velero.io/backup-name"'
            - '.metadata.labels."velero.io/restore-name"'
            # Ignore all k8s lens related editing labels
            - '.metadata.labels."k8slens-edit-resource-version"'
      - |
        resource.exclusions=
          - apiGroups:
              - cilium.io
            kinds:
              - CiliumIdentity
            clusters:
              - "*"
          - apiGroups:
              - velero.io
            kinds:
              - PodVolumeBackup
              - Backup
            clusters:
              - "*"

patches:
  - target:
      kind: Deployment
      name: argocd-redis-ha-haproxy
    patch: |-
      - op: remove
        path: "/spec/template/spec/initContainers/0"
  - target:
      kind: Deployment
      name: argocd-server
    patch: |-
      - op: add
        path: "/spec/template/spec/containers/0/args/-"
        value: "--insecure"
