apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
metadata:
  name: rook-ceph

namespace: rook-ceph

helmCharts:
  - name: rook-ceph
    repo: https://charts.rook.io/release
    releaseName: rook-ceph
    namespace: rook-ceph
    version: 1.14.8
    valuesFile: ./values.yaml

resources:
  - https://github.com/rook/rook/raw/v1.14.8/deploy/examples/toolbox-operator-image.yaml
  - ./resources/ceph-block-pool.yaml
  - ./resources/ceph-cluster.yaml
  - ./resources/ceph-object-store.yaml
  - ./resources/grafana-dashboard.yaml
  - ./resources/http-route.yaml
  - ./resources/namespace.yaml
  - ./resources/prometheus-rule.yaml
  - ./resources/service-monitor-csi.yaml
  - ./resources/service-monitor-exporter.yaml
  - ./resources/service-monitor-mgr.yaml
  - ./resources/storage-class-block.yaml
  - ./resources/storage-class-object.yaml
