apiVersion: apps/v1
kind: Deployment
metadata:
  name: abraxis-tv
  namespace: network
  labels:
    app: abraxis-tv
spec:
  replicas: 1
  revisionHistoryLimit: 1
  strategy:
    type: Recreate
  selector:
    matchLabels:
      app: abraxis-tv
  template:
    metadata:
      labels:
        app: abraxis-tv
      annotations:
        backup.velero.io/backup-volumes-excludes: config
    spec:
      containers:
        - name: ddns
          image: lscr.io/linuxserver/ddclient:latest
          imagePullPolicy: Always
          resources:
            requests:
              memory: 32Mi
              cpu: 125m
            limits:
              memory: 64Mi
              cpu: 250m
          env:
            - name: PUID
              value: "1000"
            - name: PGID
              value: "1000"
            - name: TZ
              value: America/Los_Angeles
          volumeMounts:
            - name: config
              mountPath: /defaults/ddclient.conf
              subPath: ddclient.conf
              readOnly: false
      volumes:
        - name: config
          secret:
            secretName: abraxis-tv-config
