apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
metadata:
  name: cilium

namespace: kube-system

helmCharts:
  # Used before upgrades
  # - name: cilium
  #   repo: https://helm.cilium.io
  #   releaseName: cilium-preflight
  #   namespace: kube-system
  #   version: 1.18.4
  #   valuesFile: ./preflight-values.yaml

  - name: cilium
    repo: https://helm.cilium.io
    releaseName: cilium
    namespace: kube-system
    version: 1.18.4
    valuesFile: ./values.yaml

resources:
  - ./resources/cilium-bgp-advertisement.yaml
  - ./resources/cilium-bgp-cluster-config.yaml
  - ./resources/cilium-bgp-peer-config.yaml
  - ./resources/cilium-load-balancer-ip-pool.yaml
