apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
metadata:
  name: kube-state-metrics

namespace: monitoring

helmCharts:
  - includeCRDs: true
    name: kube-state-metrics
    namespace: monitoring
    releaseName: kube-state-metrics
    repo: https://prometheus-community.github.io/helm-charts
    valuesFile: ./values.yaml
    version: 7.1.0
