apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
metadata:
  name: internal-gateway

namespace: networking

resources:
  - ./resources/endpoints.yaml
  - ./resources/gateway.yaml
  - ./resources/ingress.yaml
  - ./resources/service.yaml
