apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
metadata:
  name: cnpg

namespace: cnpg-system

helmCharts:
  - name: cloudnative-pg
    repo: https://cloudnative-pg.github.io/charts
    releaseName: cnpg
    namespace: cnpg-system
    version: 0.27.0
    valuesFile: ./values.yaml

resources:
  - ./resources/namespace.yaml
