apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  # Gateway API
  - https://raw.githubusercontent.com/kubernetes-sigs/gateway-api/main/config/crd/experimental/gateway.networking.k8s.io_backendtlspolicies.yaml
  - https://raw.githubusercontent.com/kubernetes-sigs/gateway-api/main/config/crd/standard/gateway.networking.k8s.io_gatewayclasses.yaml
  - https://raw.githubusercontent.com/kubernetes-sigs/gateway-api/main/config/crd/standard/gateway.networking.k8s.io_gateways.yaml
  - https://raw.githubusercontent.com/kubernetes-sigs/gateway-api/main/config/crd/experimental/gateway.networking.k8s.io_grpcroutes.yaml
  - https://raw.githubusercontent.com/kubernetes-sigs/gateway-api/main/config/crd/standard/gateway.networking.k8s.io_httproutes.yaml
  - https://raw.githubusercontent.com/kubernetes-sigs/gateway-api/main/config/crd/standard/gateway.networking.k8s.io_referencegrants.yaml
  - https://raw.githubusercontent.com/kubernetes-sigs/gateway-api/main/config/crd/experimental/gateway.networking.k8s.io_tcproutes.yaml
  - https://raw.githubusercontent.com/kubernetes-sigs/gateway-api/main/config/crd/experimental/gateway.networking.k8s.io_tlsroutes.yaml
  - https://raw.githubusercontent.com/kubernetes-sigs/gateway-api/main/config/crd/experimental/gateway.networking.k8s.io_udproutes.yaml

  # Node Feature Discovery
  - https://raw.githubusercontent.com/kubernetes-sigs/node-feature-discovery/master/deployment/helm/node-feature-discovery/crds/nfd-api-crds.yaml

  # Intel Device Manager
  - https://raw.githubusercontent.com/intel/helm-charts/intel-device-plugins-operator-0.29.0/charts/device-plugin-operator/crds/deviceplugin.intel.com_dlbdeviceplugins.yaml
  - https://raw.githubusercontent.com/intel/helm-charts/intel-device-plugins-operator-0.29.0/charts/device-plugin-operator/crds/deviceplugin.intel.com_dsadeviceplugins.yaml
  - https://raw.githubusercontent.com/intel/helm-charts/intel-device-plugins-operator-0.29.0/charts/device-plugin-operator/crds/deviceplugin.intel.com_fpgadeviceplugins.yaml
  - https://raw.githubusercontent.com/intel/helm-charts/intel-device-plugins-operator-0.29.0/charts/device-plugin-operator/crds/deviceplugin.intel.com_gpudeviceplugins.yaml
  - https://raw.githubusercontent.com/intel/helm-charts/intel-device-plugins-operator-0.29.0/charts/device-plugin-operator/crds/deviceplugin.intel.com_iaadeviceplugins.yaml
  - https://raw.githubusercontent.com/intel/helm-charts/intel-device-plugins-operator-0.29.0/charts/device-plugin-operator/crds/deviceplugin.intel.com_qatdeviceplugins.yaml
  - https://raw.githubusercontent.com/intel/helm-charts/intel-device-plugins-operator-0.29.0/charts/device-plugin-operator/crds/deviceplugin.intel.com_sgxdeviceplugins.yaml
  - https://raw.githubusercontent.com/intel/helm-charts/intel-device-plugins-operator-0.29.0/charts/device-plugin-operator/crds/fpga.intel.com_acceleratorfunctions.yaml
  - https://raw.githubusercontent.com/intel/helm-charts/intel-device-plugins-operator-0.29.0/charts/device-plugin-operator/crds/fpga.intel.com_fpgaregions.yaml

  # Metallb
  # - ./resources/addresspools.metallb.io.yaml
  # - ./resources/bfdprofiles.metallb.io.yaml
  # - ./resources/bgpadvertisements.metallb.io.yaml
  # - ./resources/bgpadvertisements.metallb.io.yaml
  # - ./resources/bgppeers.metallb.io.yaml
  # - ./resources/communities.metallb.io.yaml
  # - ./resources/ipaddresspools.metallb.io.yaml
  # - ./resources/l2advertisements.metallb.io.yaml

  # Cert Manager
  # - https://github.com/cert-manager/cert-manager/releases/download/v1.14.4/cert-manager.crds.yaml

  # Velero
  - https://raw.githubusercontent.com/vmware-tanzu/velero/v1.13.1/config/crd/v1/bases/velero.io_backuprepositories.yaml
  - https://raw.githubusercontent.com/vmware-tanzu/velero/v1.13.1/config/crd/v1/bases/velero.io_backups.yaml
  - https://raw.githubusercontent.com/vmware-tanzu/velero/v1.13.1/config/crd/v1/bases/velero.io_backupstoragelocations.yaml
  - https://raw.githubusercontent.com/vmware-tanzu/velero/v1.13.1/config/crd/v1/bases/velero.io_deletebackuprequests.yaml
  - https://raw.githubusercontent.com/vmware-tanzu/velero/v1.13.1/config/crd/v1/bases/velero.io_downloadrequests.yaml
  - https://raw.githubusercontent.com/vmware-tanzu/velero/v1.13.1/config/crd/v1/bases/velero.io_podvolumebackups.yaml
  - https://raw.githubusercontent.com/vmware-tanzu/velero/v1.13.1/config/crd/v1/bases/velero.io_podvolumerestores.yaml
  - https://raw.githubusercontent.com/vmware-tanzu/velero/v1.13.1/config/crd/v1/bases/velero.io_restores.yaml
  - https://raw.githubusercontent.com/vmware-tanzu/velero/v1.13.1/config/crd/v1/bases/velero.io_schedules.yaml
  - https://raw.githubusercontent.com/vmware-tanzu/velero/v1.13.1/config/crd/v1/bases/velero.io_serverstatusrequests.yaml
  - https://raw.githubusercontent.com/vmware-tanzu/velero/v1.13.1/config/crd/v1/bases/velero.io_volumesnapshotlocations.yaml

  # Prometheus Operator
  - https://raw.githubusercontent.com/prometheus-community/helm-charts/kube-prometheus-stack-55.5.1/charts/kube-prometheus-stack/charts/crds/crds/crd-alertmanagerconfigs.yaml
  - https://raw.githubusercontent.com/prometheus-community/helm-charts/kube-prometheus-stack-55.5.1/charts/kube-prometheus-stack/charts/crds/crds/crd-alertmanagers.yaml
  - https://raw.githubusercontent.com/prometheus-community/helm-charts/kube-prometheus-stack-55.5.1/charts/kube-prometheus-stack/charts/crds/crds/crd-podmonitors.yaml
  - https://raw.githubusercontent.com/prometheus-community/helm-charts/kube-prometheus-stack-55.5.1/charts/kube-prometheus-stack/charts/crds/crds/crd-probes.yaml
  # - https://raw.githubusercontent.com/prometheus-community/helm-charts/kube-prometheus-stack-55.5.1/charts/kube-prometheus-stack/charts/crds/crds/crd-prometheusagents.yaml
  # - https://raw.githubusercontent.com/prometheus-community/helm-charts/kube-prometheus-stack-55.5.1/charts/kube-prometheus-stack/charts/crds/crds/crd-prometheuses.yaml
  - https://raw.githubusercontent.com/prometheus-community/helm-charts/kube-prometheus-stack-55.5.1/charts/kube-prometheus-stack/charts/crds/crds/crd-prometheusrules.yaml
  - https://raw.githubusercontent.com/prometheus-community/helm-charts/kube-prometheus-stack-55.5.1/charts/kube-prometheus-stack/charts/crds/crds/crd-scrapeconfigs.yaml
  - https://raw.githubusercontent.com/prometheus-community/helm-charts/kube-prometheus-stack-55.5.1/charts/kube-prometheus-stack/charts/crds/crds/crd-servicemonitors.yaml
  - https://raw.githubusercontent.com/prometheus-community/helm-charts/kube-prometheus-stack-55.5.1/charts/kube-prometheus-stack/charts/crds/crds/crd-thanosrulers.yaml
