apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
metadata:
  name: prowlarr

namespace: download

resources:
  - ./resources/deployment.yaml
  - ./resources/http-route.yaml
  - ./resources/pv-config.yaml
  - ./resources/pvc-config.yaml
  - ./resources/secret-config.yaml
  - ./resources/service.yaml
