apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
metadata:
  name: node-feature-discovery

namespace: node-feature-discovery

helmCharts:
  - name: node-feature-discovery
    repo: https://kubernetes-sigs.github.io/node-feature-discovery/charts
    releaseName: node-feature-discovery
    version: 0.18.3
    valuesFile: ./values.yaml

resources:
  - ./resources/namespace.yaml
