apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: ersatztv-config
  namespace: media
spec:
  volumeMode: Filesystem
  storageClassName: ceph-safe-block
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 5Gi
  volumeName: ersatztv-config
