apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
metadata:
  name: tailscale

namespace: networking

helmCharts:
  - name: tailscale-operator
    repo: https://pkgs.tailscale.com/helmcharts
    releaseName: tailscale-operator
    version: 1.90.8

resources:
  - ./resources/namespace.yaml
  - ./resources/secret.yaml
