apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
metadata:
  name: external-secrets-operator

namespace: external-secrets

helmCharts:
  - name: external-secrets
    repo: https://charts.external-secrets.io
    releaseName: external-secrets
    namespace: external-secrets
    version: 2.0.0
    valuesFile: values.yaml

resources:
  - ./resources/cluster-secret-store.yaml
