[defaults]
inventory       = ./inventories/production
roles_path      = ./roles

hash_behaviour  = merge

ansible_managed = This file is managed by Ansible. Do not manually edit!


# ansible-playbook -i inventories/production -u btkostner --ask-pass --ask-become-pass -l <ip address> playbooks/provision.yml
