[defaults]
inventory       = ./inventories/production
roles_path      = ./roles

hash_behaviour  = merge

ansible_managed = This file is managed by Ansible. Do not manually edit!

remote_user = btkostner
