apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: n8n-config
  namespace: home
spec:
  volumeMode: Filesystem
  storageClassName: ceph-safe-block
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 10Gi
  volumeName: home-n8n-config
