name: Docs

on:
  push:
    branches:
      - main
    paths:
      - book.toml
      - "**/*.md"

jobs:
  Publish:
    environment:
      name: Docs
      url: https://infrastructure.btkostner.io

    permissions:
      actions: read
      contents: read
      pages: write
      id-token: write

    runs-on: ubuntu-slim

    steps:
      - name: Checkout
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0

      - name: Install
        uses: jdx/mise-action@146a28175021df8ca24f8ee1828cc2a60f980bd5 # v3.5.1

      - name: Build
        run: mise docs:build

      - name: Upload Artifacts
        uses: actions/upload-pages-artifact@7b1f4a764d45c48632c6b24a0339c27f5614fb0b # v4.0.0
        with:
          path: ./book

      - name: Deploy
        uses: actions/deploy-pages@7a9bd943aa5e5175aeb8502edcc6c1c02d398e10 # v4.0.2
