---
name: Renovate

on:
  push:
    paths:
      - .github/renovate-bot.json
      - .github/renovate.json
      - .github/workflows/renovate.yaml
  schedule:
    - cron: "23 4 * * *"
  workflow_call:
  workflow_dispatch:

jobs:
  Dependencies:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0

      - id: token
        name: Get App Token
        uses: actions/create-github-app-token@8efbf9bf0ff7093c26fd1720e1722fd9cdd30fac # v2.2.0
        with:
          private-key: ${{ secrets.GH_APP_PRIVATE_KEY }}
          app-id: 779659
          owner: ${{ github.repository_owner }}
          repositories: ${{ github.event.repository.name }}

      - name: Renovate
        uses: renovatebot/github-action@4ebebabcd582dddea1692b05c3d5279f8e372b53 # v44.0.0
        with:
          configurationFile: .github/renovate-bot.json
          token: ${{ steps.token.outputs.token }}
        env:
          LOG_LEVEL: ${{ runner.debug && 'debug' || 'info' }}
