apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
metadata:
  name: grafana

namespace: monitoring

helmCharts:
  - includeCRDs: true
    name: grafana
    namespace: monitoring
    releaseName: grafana
    repo: https://grafana.github.io/helm-charts
    valuesFile: ./values.yaml
    version: 8.3.6

resources:
  - ./resources/external-secret.yaml
  - ./resources/http-route-grafana.yaml
